@model Entrumpelung.Models.CustomerReview
<div class="turtorialsWrapper">
    <div class="turtorialsItem">
        <div class="avatar" style="background-image:url(/Content/IMG/no-photo.gif);"></div>
        <div class="turtorialText">
            <div class="tittle">
                @Model.CustomerName .Entrümpelung in @Model.CustomerCity @Model.ReviewDate
            </div>
            <div class="text">
                @Model.ReviewText
            </div>
        </div>
        @*<div class="turtorialsGallery">
                <div class="works" style="background-image:url(/Content/IMG/no-photo-work.png);"></div>
            </div>*@
    </div>

    </div>
    @*<div>
            @Html.DisplayNameFor(model => model.Rating)
            :
            @Html.DisplayFor(model => model.Rating)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.CustomerName)
            :
            @Html.DisplayFor(model => model.CustomerName)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.CustomerCity)
            @Html.DisplayFor(model => model.CustomerCity)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.ReviewText)
            @Html.DisplayFor(model => model.ReviewText)
        </div>

        <div>
            @Html.DisplayNameFor(model => model.ReviewDate)
            @Html.DisplayFor(model => model.ReviewDate)
        </div>*@

