<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
</head>

<body>
<div class="full-area">
    <div class="headLanguagesLine">
        <div class="box headLanguagesLine">
            <a href="#" class="languages">DE</a><a href="#" class="languages">EN</a>
        </div>
    </div>
    <div class="box">
        <div class="headLogo"></div>
        <div class="headMiddleCol">
            <div class="headQuality">
                <span>QUALITY</span>
                <span class="desc">GUARANTED</span>
            </div>
            <p>Berlin</p>
        </div>
        <div class="headPnonesBlock">
            <div class="headPhonesImg1"></div><div class="headPhonesNumbers"><a href="callto:057182945878">0571. 829 45  878</a></div>
            <div class="headPhonesImg2"></div><div class="headPhonesNumbers"><a href="callto:057182945879">0571. 829 45  879</a></div>
        </div>
    </div>
    <div class="crumbsLine">Home > Entermpuling in Berlin</div>
</div>

<div class="full-area">

    @RenderBody()

</div>

<div class="full-area footer">
    <div class="footerBlock"></div>
    <div class="footerBlock"><p>Zur Schmiede 3 - 32423 Minden</p></div>
    <div class="footerBlock">
        <table class="tablePhones">
            <tr>
                <td>Tel:</td>
                <td><a href="callto:057182945878">0571. 829 45 878</a></td>
            </tr>
            <tr>
                <td>Fax:</td>
                <td>
                    <a href="callto:057182945879">0571. 829 45 879</a>
                </td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>
                    <a href="mailto:pk@klassen-gmbh.de">pk@klassen-gmbh.de</a>
                </td>
            </tr>
         </table>
    </div>
</div>

   
</body>
</html>
