@{
    string cityName = "Minden";
    string fullTel1Number = "0571. 829 45 878";
    string tel1 = "";
    string cityCode = "";
    string cityWasSelected = Request.Cookies["CitySelected"]?.Value ??  "false";

    cityName = Server.UrlDecode(Request.Cookies["City"]?.Value);
    tel1 = Request.Cookies["Tel1"]?.Value;
    cityCode = Request.Cookies["CityCode"]?.Value;

    fullTel1Number = string.Format("{0}. {1}",cityCode, tel1);
    string sityNameWrapper = "<span class='currentCity'>" + @cityName + "</span>";
    string inCityName = " in " + @sityNameWrapper;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klassen Entrümpelung </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
</head>

<body>
    <div id="popupSuccessCallBack" >Wir werden Sie in Kürze kontaktieren</div>
    <div id="question"><div class="questionBox"><p>Dies ist Ihre Stadt?</p><p><a onclick="closeQuestion()">Ja</a><a href="#city" onclick="closeQuestion()">Nein</a></p></div><div class="questioArrow"></div></div>
    <div id="callTop">
        <div class="box">
            <div class="callTopPhonesWrapper">
                <div class="numberWrapper"><div class="callTopPhone"></div><a class="callTopNum cityTel" href="tel:@cityCode@tel1">@fullTel1Number</a>
                </div>
                <div class="numberWrapper">
                    <div class="callTopFax"></div><a class="callTopNum" href="tel:057182945879">0571. 829 45  879</a>
                </div>
            </div>
            <div class="callTopCallBackWrapper">
                @using (Ajax.BeginForm("CallBackOrder",null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "(function(){ document.getElementById('topCallback').reset(); }())" }, new { id = "topCallback" }))
                {
                    <input placeholder="Name" />
                    <input placeholder="Telefon*" />
                    <input class="buttonSubmit" type="submit" value="Rückruf" onclick="showPopupSuccessCallBack()">
                }
               
            </div>
        </div>
    </div>
    <div class="full-area">
        <div class="headLanguagesLine">
            <div class="box headLanguagesLine">
                <a href="#" class="languages">DE</a><a href="#" class="languages">EN</a>
            </div>
        </div>
        <div class="box">
            <div class="headLogo"></div>
            <div class="headMiddleCol">
                <div class="headQuality">
                    <span>QUALITY</span>
                    <span class="desc">GUARANTED</span>
                </div>
                <p>
                    <a class="cityChange" href="#city">@Html.Raw(@sityNameWrapper)</a>
                </p>
            </div>
            <div class="headPnonesBlock">
                <div class="headPhonesImg1"></div><div class="headPhonesNumbers"><a class="cityTel" href="tel:@cityCode@tel1">@fullTel1Number</a></div>
                <div class="headPhonesImg2"></div><div class="headPhonesNumbers"><a class="cityFax" href="tel:057182945879">0571. 829 45  879</a></div>
            </div>
        </div>
        <div class="crumbsLine"><div class="box">Home > Entermpuling @Html.Raw(@inCityName)</div></div>
        
    </div>


    <a href="#x" class="overlay" id="city"></a>
    <div class="popup" >
        <span class="popupTittle">Wählen Sie Ihre Stadt</span>
        <div class="radioBox">
            <div class="radio">
                <label><input type="radio" name="cityRadio" />Bremen</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="cityRadio" />Frankfurt am Mein</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="cityRadio" />Hamburg</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="cityRadio" />Hannover</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="cityRadio" />Minden</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="cityRadio" />Bielefeld</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="cityRadio" />Osnabrück</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="cityRadio" />Magdeburg</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="cityRadio" />Kassel</label>
            </div>
        </div>
           <a class="close" title="Schließen" href="#close"></a>
  @*  <a href="#x" class="chooseCityLink">Wählen</a>*@    
    </div>
    <div class="full-area">

        @RenderBody()
    </div>

    <div class="full-area footer">
        <div class="box">
            <div class="footerBlock"></div>
            <div class="footerBlock"><p>Zur Schmiede 3 - 32423 Minden</p></div>
            <div class="footerBlock">
                <table class="tablePhones">
                    <tr>
                        <td>Tel:</td>
                        <td><a href="tel:057182945878">0571. 829 45 878</a></td>
                    </tr>
                    <tr>
                        <td>Fax:</td>
                        <td>
                            <a href="tel:057182945879">0571. 829 45 879</a>
                        </td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>
                            <a href="mailto:pk@klassen-gmbh.de">pk@klassen-gmbh.de</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <script>
        function SetupTelephoneNumbers(cityCode, cityTel1) {
            $('.cityTel').text(cityCode + '. ' +cityTel1);
            $('.cityTel').attr("href", 'tel:' +cityCode+cityTel1);
            //console.log(selectedTelephon);
        }

        function SetupCurrentCity(currentCity) {
            console.log(currentCity);
            $('.currentCity').text(currentCity);
        }

        function Redirect(pageName)
        {
            window.location.href = url;
            console.log(pageName);
        }

        $(document).ready(
          
            function () {

              
                /*  $(".cityChange").click(
                   function () {
                        $(".klassen-tel").collapse('toggle');
                    
                }
                    );*/
                var i;
                var cityRadioElements = document.getElementsByName("cityRadio");
                for(i=0;i<cityRadioElements.length;i++)
                {
                   (function(i) {

                        return function () {
                            cityRadioElements[i].addEventListener("click", function () {
                                
                                var selectedCityUrl = '@Url.Action("UpdateCity")' + '?selectedCity=' +encodeURI(cityRadioElements[i].parentElement.lastChild.nodeValue);
                                $.ajax({
                                    url: selectedCityUrl ,
                                    contentType: "application/json; charset=utf-8",
                                    type: 'GET',
                                    dataType: "json",
                                    success: function (data) {
                                        console.log(data.CityCode+' - '+ data.CityTel1);
                                        SetupTelephoneNumbers(data.CityCode,data.CityTel1);
                                        //SetupCurrentCity(cityRadioElements[i].parentElement.lastChild.nodeValue);
                                        SetupCurrentCity(data.CityName);
                                        window.location.href = '#x';
                                    },
                                    error: function(err)
                                    {
                                        console.log(err);
                                        console.log("Error with city");
                                    },
                                    async: true,
                                    processData: false,
                                    cache: false
                                    
                                });
                              //  $(".klassen-tel").collapse('hide');
                            });
                        }(i)
                    }(i));
                }
            }
            );
       
    </script>

    <script>

        var callTopFlag = false;
        window.onscroll = function() {

            if(window.pageYOffset>210 && callTopFlag==false)
            {
                callTopFlag=true;
                document.getElementById('callTop').setAttribute('style','margin-top:0;');
            }
            if(window.pageYOffset<205 && callTopFlag==true)
            {
                callTopFlag=false;
                document.getElementById('callTop').setAttribute('style','margin-top:-65px;');
            }
        }

        window.onload = function ()
        {
            document.getElementById('question').setAttribute('style','top:7px;');
            if(@cityWasSelected == true)
            {
                closeQuestion();
            }
        }
        function closeQuestion() 
        { 

            var date = new Date;
            date.setDate(date.getDate() + 30);
            document.cookie = "CitySelected=true; path=/; expires=" + date.toUTCString();

            document.getElementById('question').setAttribute('style','top:-150px;');
        }

        function showPopupSuccessCallBack() 
        {
            document.getElementById('popupSuccessCallBack').setAttribute('style','top:30%;');
            setTimeout (function e() {document.getElementById('popupSuccessCallBack').setAttribute('style','top:-70%;');},4000);
        }

    </script>

</body>

</html>
