@{
    string cityName = "Minden";
    if (Request.Cookies["City"] != null)
    {
        cityName = Request.Cookies["City"].Value;
    }
    string sityNameWrapper = "<span class='currentCity'>"+@cityName+"</span>";
    string inCityName = " in " + @sityNameWrapper;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Klassen Entrümpelung </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
    @Scripts.Render("~/Scripts/bootstrap.min.js")
</head>

<body>

    <div class="full-area">
        <div class="headLanguagesLine">
            <div class="box headLanguagesLine">
                <a href="#" class="languages">DE</a><a href="#" class="languages">EN</a>
            </div>
        </div>
        <div class="box">
            <div class="headLogo"></div>
            <div class="headMiddleCol">
                <div class="headQuality">
                    <span>QUALITY</span>
                    <span class="desc">GUARANTED</span>
                </div>
                <p>
                    <button class="cityChange">@Html.Raw(@sityNameWrapper)</button>
                </p>
            </div>
            <div class="headPnonesBlock">
                <div class="headPhonesImg1"></div><div class="headPhonesNumbers"><a class="cityTel" href="callto:057182945878">0571. 829 45  878</a></div>
                <div class="headPhonesImg2"></div><div class="headPhonesNumbers"><a class="cityFax" href="callto:057182945879">0571. 829 45  879</a></div>
            </div>
        </div>
        <div class="crumbsLine">Home > Entermpuling @Html.Raw(@inCityName) </div>
        
    </div>
    <div class="klassen-tel collapse">
        <div >
            <div class="radio col-xs-4 col-sm-6">
                <label><input type="radio" name="cityRadio"  />Bremen</label>
            </div>
            <div class="radio col-xs-4 col-sm-6">
                <label><input type="radio" name="cityRadio"  />Frankfurt am Mein</label>
            </div>
            <div class="radio col-xs-4 col-sm-6">
                <label><input type="radio" name="cityRadio"  />Hamburg</label>
            </div>
            <div class="radio col-xs-4 col-sm-6">
                <label><input type="radio" name="cityRadio"  />Hannover</label>
            </div>
            <div class="radio col-xs-4 col-sm-6">
                <label><input type="radio" name="cityRadio"  />Minden</label>
            </div>
            <div class="radio col-xs-4 col-sm-6">
                <label><input type="radio" name="cityRadio"  />Bielefeld</label>
            </div>
            <div class="radio col-xs-4 col-sm-6">
                <label><input type="radio" name="cityRadio"  />Osnabrück</label>
            </div>
            <div class="radio col-xs-4 col-sm-6">
                <label><input type="radio" name="cityRadio"  />Magdeburg</label>
            </div>
          <div class="radio col-xs-4 col-sm-6">
                <label><input type="radio" name="cityRadio"  />Kassel</label>
            </div>
        </div>
    </div>
    <div class="full-area">

        @RenderBody()

    </div>

    <div class="full-area footer">
        <div class="footerBlock"></div>
        <div class="footerBlock"><p>Zur Schmiede 3 - 32423 Minden</p></div>
        <div class="footerBlock">
            <table class="tablePhones">
                <tr>
                    <td>Tel:</td>
                    <td><a href="callto:057182945878">0571. 829 45 878</a></td>
                </tr>
                <tr>
                    <td>Fax:</td>
                    <td>
                        <a href="callto:057182945879">0571. 829 45 879</a>
                    </td>
                </tr>
                <tr>
                    <td>E-mail:</td>
                    <td>
                        <a href="mailto:pk@klassen-gmbh.de">pk@klassen-gmbh.de</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <script>
        function SetupTelephoneNumbers(selectedTelephon) {
            $('.cityTel').text(selectedTelephon);
            $('.cityTel').attr("href", 'callto:' + selectedTelephon);
            console.log(selectedTelephon);
        }

        function SetupCurrentCity(currentCity) {
            console.log(currentCity);
            $('.currentCity').text(currentCity);
        }

        function Redirect(pageName)
        {
            window.location.href = url;
            console.log(pageName);
        }
        $(document).ready(
          
            function () {

              
                $(".cityChange").click(
                    function () {
                        $(".klassen-tel").collapse('toggle');
                    }
                    );
                var i;
                var cityRadioElements = document.getElementsByName("cityRadio");
                for(i=0;i<cityRadioElements.length;i++)
                {
                   (function(i) {

                        return function () {
                            cityRadioElements[i].addEventListener("click", function () {
                                var selectedCityUrl = '@Url.Action("UpdateCity")' + '?selectedCity=' + cityRadioElements[i].parentElement.lastChild.nodeValue;
                                $.ajax({
                                    url: selectedCityUrl ,
                                    contentType: "application/json; charset=utf-8",
                                    type: 'GET',
                                    success: function (data) {
                                        SetupTelephoneNumbers(data);
                                        SetupCurrentCity(cityRadioElements[i].parentElement.lastChild.nodeValue);
                                    },
                                    error: function(err)
                                    {
                                        console.log(err);
                                        console.log("Error with city");
                                    },
                                    async: true,
                                    processData: false
                                    
                                });

                                $(".klassen-tel").collapse('hide');
                               // console.log(cityRadioElements[i].parentElement.lastChild);
                           
                                                
      //  (((, "", new AjaxOptions { HttpMethod = "Post" });
                             //   console.log(i);
                               // console.log(cityRadioElements[i]);
                            //    console.log(cityRadioElements[i].parentElement.lastChild);

                            });
                        }(i)
                    }(i));
                    
                }
            }
            );
       
    </script>
</body>

</html>
